<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmmanAndTisha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011B030B1E00E21F00EB81EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011B03251E00E22000EB81EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011B03301E00E22000EB81EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
